@import '_reset';
@import '_variable';
@import '_common';

.header {
  z-index: 99;
  .header-bottom {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 2px solid $main-color;
    &.on {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        border-bottom: 1px solid #e1e1e1;
    }

    .logo-wrap {
      width: 148px;
      height: 90px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        cursor: pointer;
      }
    }
    
    nav {
      width: 1007px;
      // margin: 0 auto;
      .main-menu {
        display: flex;
        justify-content: center;
            >li {
                float: left;
                padding: 0 4% 0 0;
                &.on {
                    .sub-menu {
                        height: auto;
                        padding: 45px 0;
                    }
                    >a {
                        &::before {
                            display: block;
                        }
                    }
                }
                &:nth-child(2) {
                    .sub-menu {
                        >ul {
                            >li {
                                width: calc(100% / 3);
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .sub-menu {
                        >ul {
                            >li {
                                width: calc(100% / 5);
                                &:nth-child(1){
                                    border-right: none;
                                }
                                &:nth-child(2){
                                    >a {
                                        opacity: 0;
                                        visibility: hidden;
                                        text-indent: -9999px;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    .sub-menu {
                        >ul {
                            >li {
                                width: calc(100% / 5);
                            }
                        }
                    }
                }
                &:nth-child(6) {
                    .sub-menu {
                        >ul {
                            >li {
                                width: calc(100% / 4);
                            }
                        }
                    }
                }
                &:nth-child(7) {
                  padding: 0;
                    .sub-menu {
                        >ul {
                            >li {
                                width: calc(100% / 6);
                            }
                        }
                    }
                }
                >a {
                    position: relative;
                    display: inline-block;
                    padding: 35px 5px 36px;
                    font-size: 18px;
                    color: #222222;
                    font-weight: 500;
                    letter-spacing: -0.7px;
                    line-height: 1;
                    &::before {
                        z-index: 99;
                        display: none;
                        content:'';
                        position: absolute;
                        top: 17px;
                        right: -8px;
                        width: 21px;
                        height: 18px;
                        background: url('../assets/img/gnb-pop-icon.png') no-repeat center center;
                    }
                    &.on {
                        &::before {
                            display: block;
                        }
                    }
                    &.current {
                        &::after {
                            content:'';
                            position: absolute;
                            top: 17px;
                            right: -8px;
                            width: 21px;
                            height: 18px;
                            background: url('../assets/img/gnb-icon.png') no-repeat center center;
                        }
                    }
                }
                .sub-menu {
                    z-index: 99;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    top: 89px;
                    left: 0;
                    right: 0;
                    text-align: left;
                    background: rgba(10,74,50,0.97) url('../assets/img/bg-gnb.png') no-repeat 89% -30px;
                    transition: .5s;
                    overflow: hidden;
                    >ul {
                        display: flex;
                        justify-content: space-between;
                        max-width: 1300px;
                        margin: 0 auto;
                        >li {
                            width: calc(100% / 7);
                            padding: 20px;
                            border-right: $grey-border;
                            &:nth-child(1){
                                border-left: $grey-border;
                            }
                            a {
                                color: #fff;
                            }
                            >a {
                                font-size: 17px;
                                line-height: 25px;
                                font-weight: 500;
                            }
                            ul {
                                padding-top: 20px;
                                li {
                                    padding-bottom: 15px;
                                    a {
                                        color: #9ac1b2;
                                        line-height: 23px;
                                        word-break: break-all;
                                        transition: .3s;
                                    }
                                    &:hover {
                                        a {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .util-wrap {
      position: relative;
      width: 145px;
      height: 90px;
      display: flex;
      align-items: center;
      ul {
        li {
            a {
                display: flex;
                justify-content: center;
                span {
                    padding-right: 10px;
                }
            }
        }
      }
      .search-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        form {
            display: flex;
            input {
                width: 0;
                padding: 0;
                height: 43px;
                line-height: 1;
                background-color: #fff;
                transition: .3s;
                &.on {
                  padding: 10px 22px 12px;
                  border: 1px solid #ccc;
                  border-right: none;
                  min-width: 204px;
                }
                &::placeholder {
                    font-family: inherit;
                    font-size: 13.5px;
                    color: #999999;
                    letter-spacing: -0.01em;
                    font-weight: 300;
                }
            }
            button {
                width: 43px;
                height: 43px;
                border: 1px solid #ccc;
                background-color: #fff;
            }
        }

    }
    }
  }
}

.sub-img-wrap {
  width: 100%;
  height: 125px;
  background: url('../assets/img/sub-img.gif') no-repeat center / cover;
}

.path-wrap {
  width: 100%;
  height: 50px;
  .path-box {
    margin: -32px auto;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .home-btn {
      padding: 25px 25px 24px;
      background: url('../assets/img/home-icon.png') no-repeat center;
      background-color: #333;
    }
    > ul {
      display: flex;
    }
    .path-list {
      border: 1px solid #ddd;
      width: calc(100% - 50px - 194px);
      > li {
        position: relative;
        width: 250px;
        > a {
          position: relative;
          display: inline-block;
          width: 100%;
          border-right: 1px solid #ddd;
          padding: 16.5px 34px 16.5px 24px;
          background: url('../assets/img/ico-path-open.png') no-repeat right 19px center;
          background-color: #fff;
        }
        ul {
          opacity: 0;
          visibility: hidden;
          min-height: 0;
          position: absolute;
          top: 100%;
          left: -1px;
          width: 201px;
          padding: 0 24px;
          background-color: #fff;
          border: 1px solid #ddd;
          box-sizing: content-box;
          transition: .5s;
          &.on {
            opacity: 1;
            visibility: visible;
            padding: 18px 24px;
          }
          li {
            padding: 0 0 9px 0;
            &:last-child {
              padding: 0;
            }
            a {
              font-size: 14px;
              color: #666;
              font-weight: 400;
              &.on {
                color: #013775;
                text-decoration: underline;
                &:hover {
                  color: #013775;
                  font-weight: 500;
                }
              }
              &:hover {
                color: #333;
                font-weight: 500;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .btn-wrap {
      width: 194px;
      border: 1px solid #ddd;
      border-left: none;
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        width: 25%;
        height: 100%;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 15px;
        }
        &:nth-child(1){
          a {
            padding: 12px;
          }
        }
        &:nth-child(3){
          a {
            padding: 10px 15px;
          }
        }
        &:not(:nth-child(4)){
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 60%;
            background-color: #ddd;
          }
        }
        &:nth-child(2){
          &::after{
            height: 1px;
            background-color: #767676;
          }
        }
      }
    }
  }
}

.title-wrap {
  .inner {
    justify-content: center;
  }
  h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    color: #000;
    padding: 13px 0 42px;
  }
}