html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.015em;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  cursor: pointer;
}

input {
  border: 0;
  outline: none;
}

.white {
  color: #fff;
}

.inner {
  max-width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.wrap {
  width: 100%;
  min-width: 1300px;
}

.header .header-top {
  background-color: #045738;
}
.header .header-top .left p {
  font-size: 13.5px;
  color: #a4b8af;
  padding: 14px 0;
  letter-spacing: 0.5px;
}
.header .header-top .right .util-area ul {
  display: flex;
}
.header .header-top .right .util-area ul li a {
  display: inline-block;
  padding: 13px 15px 13px 0;
  color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
  font-size: 14px;
}
.header .header-top .right .util-area ul li a:hover {
  opacity: 1;
}
.header .header-top .right .util-area ul li:last-child a {
  padding-right: 0;
}

.footer {
  border-top: 1px solid #ebebeb;
}
.footer > .inner {
  flex-direction: column;
}
.footer .footer-quick-box {
  position: relative;
  width: 100%;
  padding: 12px 0;
  display: flex;
}
.footer .footer-quick-box.on ul {
  height: 52px;
  overflow: hidden;
}
.footer .footer-quick-box.on .btn-quick-close {
  background: url("../assets/img/btn-quick-close02.png") no-repeat center;
  border: 1px solid #ebebeb;
  border-top: none;
}
.footer .footer-quick-box .sub-title {
  position: relative;
  padding-left: 16px;
  font-size: 17px;
  margin: 15px 0;
  font-weight: 500;
}
.footer .footer-quick-box .sub-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 17px;
  background-color: #e82f68;
}
.footer .footer-quick-box ul {
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 65px;
}
.footer .footer-quick-box ul li {
  padding: 0 40px 0 0;
}
.footer .footer-quick-box ul li a {
  display: inline-block;
  padding: 12px 0;
  font-size: 17px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
.footer .footer-quick-box ul li a:hover {
  color: #333;
}
.footer .footer-quick-box .btn-quick-close {
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/img/btn-short-open.png") no-repeat center;
  background-color: #222d29;
  padding: 12px 35px;
  cursor: pointer;
}
.footer .footer-top {
  height: 70px;
  background-color: #222d29;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .footer-top ul {
  display: flex;
  justify-content: space-between;
  width: 88%;
  height: 70px;
}
.footer .footer-top ul li a {
  display: inline-block;
  padding: 22px 0;
  line-height: 23px;
  color: #979499;
}
.footer .footer-top ul li.on a {
  color: #fff;
  font-weight: 400;
}
.footer .footer-top .top-btn {
  padding: 35px 16px 19px;
  background: url("../assets/img/img-scroll-top.png") no-repeat 50% 16px;
  background-color: #e82f68;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
.footer .footer-bottom {
  background-color: #222d29;
  padding: 34px 0;
  color: #fff;
}
.footer .footer-bottom .inner {
  position: relative;
  justify-content: start;
}
.footer .footer-bottom img {
  width: 50px;
  height: 50px;
}
.footer .footer-bottom .info-box {
  padding-left: 20px;
}
.footer .footer-bottom .info-box .address {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 13px 0 0;
  padding-bottom: 5px;
  letter-spacing: -0.008em;
}
.footer .footer-bottom .info-box .copyright {
  line-height: 23px;
  opacity: 0.3;
}
.footer .footer-bottom .go-btn-wrap {
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
}
.footer .footer-bottom .go-btn-wrap .go-btn {
  position: relative;
  cursor: pointer;
  background-color: #222d29;
}
.footer .footer-bottom .go-btn-wrap .go-btn:nth-child(1) {
  margin-right: 14px;
}
.footer .footer-bottom .go-btn-wrap .go-btn.on p {
  background: url("../assets/img/img-related-close.png") no-repeat right 15px top 50%;
}
.footer .footer-bottom .go-btn-wrap .go-btn.on ul {
  display: block;
}
.footer .footer-bottom .go-btn-wrap .go-btn p {
  width: 162px;
  padding: 9px 30px 10px 20px;
  border: 1px solid #fff;
  float: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  background: url("../assets/img/img-related-open.png") no-repeat right 15px top 50%;
}
.footer .footer-bottom .go-btn-wrap .go-btn span {
  display: inline-block;
  padding: 10px 12px;
  color: #1e2623;
  font-weight: 400;
  background-color: #fff;
}
.footer .footer-bottom .go-btn-wrap .go-btn ul {
  display: none;
  width: calc(100% - 2px);
  max-height: 200px;
  position: absolute;
  bottom: 33px;
  padding: 10px 0 30px;
  background-color: #fff;
  overflow-y: scroll;
  border: 1px solid #e7e7e7;
}
.footer .footer-bottom .go-btn-wrap .go-btn ul li a {
  display: inline-block;
  padding: 4px 20px;
  font-size: 14px;
  line-height: 22px;
}
.footer .footer-bottom .go-btn-wrap .go-btn ul li:hover a {
  font-weight: 500;
}

.side-btn {
  z-index: 40;
  position: absolute;
  bottom: 15px;
  right: 40px;
  width: 90px;
  height: auto;
  position: fixed;
}
.side-btn > div {
  box-shadow: 2px 2px 5px 0;
  transition: 0.3s;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}
.side-btn .quick-btn {
  transform: translateX(200px);
  background: url("../assets/img/quick-open-icon.png") no-repeat center;
  background-color: #045738;
}
.side-btn .quick-btn.on {
  transform: translateX(0);
}
.side-btn .quick-btn:hover {
  background: url("../assets/img/quick-open-icon-hover.png") no-repeat center;
  background-color: #fff;
}
.side-btn .chat-wrap {
  border: 1px solid #045738;
  margin-top: 15px;
  background: url("../assets/img/chatbot-icon.png") no-repeat center/cover;
}
.side-btn .chat-wrap:hover {
  background: url("../assets/img/chatbot-icon-hover.png") no-repeat center/cover;
}

.header .header-middle {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.header .header-middle .inner {
  display: block;
  margin: 0 auto;
  height: 113px;
}
.header .header-middle .search-wrap {
  float: left;
  padding: 35px 0;
}
.header .header-middle .search-wrap form {
  display: flex;
}
.header .header-middle .search-wrap form input {
  border: 1px solid #ccc;
  padding: 10px 22px 12px;
  min-width: 284px;
  height: 43px;
  line-height: 1;
  background-color: #fff;
}
.header .header-middle .search-wrap form input::-moz-placeholder {
  font-family: inherit;
  font-size: 13.5px;
  color: #999999;
  letter-spacing: -0.01em;
  font-weight: 300;
}
.header .header-middle .search-wrap form input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 13.5px;
  color: #999999;
  letter-spacing: -0.01em;
  font-weight: 300;
}
.header .header-middle .search-wrap form input::placeholder {
  font-family: inherit;
  font-size: 13.5px;
  color: #999999;
  letter-spacing: -0.01em;
  font-weight: 300;
}
.header .header-middle .search-wrap form button {
  width: 43px;
  height: 43px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #fff;
}
.header .header-middle .logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header-middle .logo-wrap img {
  cursor: pointer;
}
.header .header-middle .login-wrap {
  float: right;
  padding-top: 45px;
}
.header .header-middle .login-wrap ul {
  display: flex;
}
.header .header-middle .login-wrap ul li:first-child {
  margin-right: 24px;
}
.header .header-middle .login-wrap ul li a {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.header .header-middle .login-wrap ul li a span {
  margin-right: 8px;
  text-transform: uppercase;
}
.header .header-bottom {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 2px solid #045738;
}
.header .header-bottom.on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 1px solid #e1e1e1;
}
.header .header-bottom nav {
  margin: 0 auto;
}
.header .header-bottom nav .main-menu {
  text-align: center;
  overflow: hidden;
}
.header .header-bottom nav .main-menu > li {
  float: left;
  padding: 0 30px;
}
.header .header-bottom nav .main-menu > li.on .sub-menu {
  opacity: 1;
  visibility: visible;
  padding: 45px 0;
}
.header .header-bottom nav .main-menu > li.on > a::before {
  display: block;
}
.header .header-bottom nav .main-menu > li:nth-child(2) .sub-menu > ul > li {
  width: 33.3333333333%;
}
.header .header-bottom nav .main-menu > li:nth-child(3) .sub-menu > ul > li {
  width: 20%;
}
.header .header-bottom nav .main-menu > li:nth-child(3) .sub-menu > ul > li:nth-child(1) {
  border-right: none;
}
.header .header-bottom nav .main-menu > li:nth-child(3) .sub-menu > ul > li:nth-child(2) > a {
  opacity: 0;
  visibility: hidden;
  text-indent: -9999px;
}
.header .header-bottom nav .main-menu > li:nth-child(4) .sub-menu > ul > li {
  width: 20%;
}
.header .header-bottom nav .main-menu > li:nth-child(6) .sub-menu > ul > li {
  width: 25%;
}
.header .header-bottom nav .main-menu > li:nth-child(7) .sub-menu > ul > li {
  width: 16.6666666667%;
}
.header .header-bottom nav .main-menu > li > a {
  position: relative;
  display: inline-block;
  padding: 35px 5px 36px;
  font-size: 18px;
  color: #222222;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 1;
}
.header .header-bottom nav .main-menu > li > a::before {
  display: none;
  content: "";
  position: absolute;
  top: 17px;
  right: -8px;
  width: 21px;
  height: 18px;
  background: url("../assets/img/gnb-pop-icon.png") no-repeat center center;
}
.header .header-bottom nav .main-menu > li > a.on::before {
  display: block;
}
.header .header-bottom nav .main-menu > li .sub-menu {
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  width: 100%;
  position: absolute;
  top: 89px;
  left: 0;
  right: 0;
  text-align: left;
  background: rgba(10, 74, 50, 0.97) url("../assets/img/bg-gnb.png") no-repeat 89% -30px;
  transition: 0.5s;
  overflow: hidden;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li {
  width: 14.2857142857%;
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li a {
  color: #fff;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li > a {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li ul {
  padding-top: 20px;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li ul li {
  padding-bottom: 15px;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li ul li a {
  color: #9ac1b2;
  line-height: 23px;
  word-break: break-all;
  transition: 0.3s;
}
.header .header-bottom nav .main-menu > li .sub-menu > ul > li ul li:hover a {
  color: #fff;
}

.main {
  position: relative;
  width: 100%;
  height: 570px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.main .main-wrap {
  width: 400%;
  height: 100%;
  display: flex;
}
.main .main-wrap .main-img {
  width: 25%;
  height: 100%;
}
.main .main-wrap .main-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.main .btn-wrap .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 58px;
  height: 59px;
  transition: 0.3s ease-in-out;
}
.main .btn-wrap .btn.prev {
  left: 0;
  margin: 0 8px 0 0;
  background: rgba(0, 0, 0, 0.3) url("../assets/img/main-prev-btn.png") no-repeat center;
}
.main .btn-wrap .btn.next {
  right: 0;
  background: rgba(0, 0, 0, 0.3) url("../assets/img/main-next-btn.png") no-repeat center;
}
.main .pagination {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.main .pagination .btn {
  width: 13px;
  height: 13px;
  margin: 5px 3px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.main .pagination .btn.on {
  width: 25px;
  border-radius: 10px;
  background-color: #fff;
}
.main .pagination .play-pause-btn {
  margin: 3px 0 0 18px;
  cursor: pointer;
}
.main .pagination .play-pause-btn#play img {
  content: url("../assets/img/play-btn.png");
}

.content-wrap {
  width: 100%;
}
.content-wrap .inner {
  position: relative;
  flex-direction: column;
}
.content-wrap .section-top {
  width: 100%;
}
.content-wrap .section-top .sub-title {
  position: relative;
  width: 100%;
  padding-left: 16px;
  font-size: 17px;
}
.content-wrap .section-top .sub-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #e82f68;
}
.content-wrap .section-top .title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 13px 0 52px;
}
.content-wrap .section-top .title-wrap .main-title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}
.content-wrap .section-top .title-wrap .more-btn {
  position: absolute;
  right: 0;
  top: 48px;
  font-size: 16px;
  border-bottom: 1px solid #333;
  padding: 0 35px 8px 0;
}
.content-wrap .section-top .title-wrap .more-btn::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  right: -1px;
  width: 15px;
  height: 1px;
  background: #333;
  transform: rotate(45deg);
}
.content-wrap.news {
  padding: 100px 0 120px;
}
.content-wrap.news .section-bottom {
  width: 100%;
  display: flex;
}
.content-wrap.news .section-bottom article {
  width: 35%;
  padding: 0 65px 0 0;
}
.content-wrap.news .section-bottom article img {
  width: 100%;
  padding-bottom: 30px;
  cursor: pointer;
}
.content-wrap.news .section-bottom article h3 {
  position: relative;
  height: 77px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 22px;
  line-height: 30px;
  color: #222;
  padding-bottom: 17px;
  margin-bottom: 21px;
}
.content-wrap.news .section-bottom article h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #222;
}
.content-wrap.news .section-bottom article p {
  height: 48px;
  line-height: 25px;
  color: #666;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content-wrap.news .section-bottom article.mini-wrap {
  width: 30%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-wrap.news .section-bottom article.mini-wrap .mini {
  padding: 0 0 42px 0;
  width: calc(50% - 25px);
}
.content-wrap.news .section-bottom article.mini-wrap .mini img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 145px;
  padding-bottom: 17px;
  box-sizing: content-box;
}
.content-wrap.news .section-bottom article.mini-wrap .mini h5 {
  font-size: 17px;
  line-height: 22px;
  color: #222;
  font-weight: 500;
}
.content-wrap.people {
  cursor: pointer;
  width: 100%;
  height: 800px;
}
.content-wrap.people > section {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.content-wrap.people > section.top {
  color: #fff;
}
.content-wrap.people > section.top .people-info {
  background: url("../assets/img/btn-more-w02.png") no-repeat center bottom 35px;
}
.content-wrap.people > section.top .green .people-info::after {
  left: 100%;
  border-left: 30px solid #156547;
}
.content-wrap.people > section.top .pink .people-info::after {
  left: 100%;
  border-left: 30px solid #e82f68;
}
.content-wrap.people > section.bottom .people-info {
  background: url("../assets/img/btn-more-b02.png") no-repeat center bottom 35px;
}
.content-wrap.people > section.bottom .people-info::after {
  border-left: none;
  right: 100%;
  border-right: 30px solid #fff;
}
.content-wrap.people > section > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.content-wrap.people > section > div .people-img {
  width: 50%;
  overflow: hidden;
}
.content-wrap.people > section > div .people-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.content-wrap.people > section > div .people-img img:hover {
  transform: scale(1.1);
}
.content-wrap.people > section > div.green {
  background-color: #156547;
}
.content-wrap.people > section > div.pink {
  background-color: #e82f68;
}
.content-wrap.people > section > div .people-info {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.content-wrap.people > section > div .people-info h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  padding-bottom: 15px;
}
.content-wrap.people > section > div .people-info p {
  max-height: 63px;
  line-height: 21px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
}
.content-wrap.people > section > div .people-info::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #156547;
  z-index: 10;
}
.content-wrap.notice {
  position: relative;
  width: 100%;
  padding: 90px 0 180px;
  background-color: #222d29;
  z-index: 20;
}
.content-wrap.notice .section-top .title-wrap {
  padding: 20px 0 50px;
}
.content-wrap.notice .section-top .title-wrap .text-wrap {
  width: 59%;
  color: #fff;
  opacity: 0.5;
  font-size: 17px;
  line-height: 25px;
}
.content-wrap.notice .section-bottom .inner-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.content-wrap.notice .section-bottom .inner-title h4 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 500;
  color: #fff;
  opacity: 0.3;
}
.content-wrap.notice .section-bottom .inner-title .more-btn a {
  position: relative;
  display: inline-block;
  padding: 0 21px 8px 8px;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.content-wrap.notice .section-bottom .inner-title .more-btn a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  right: -1px;
  width: 13px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
}
.content-wrap.notice .notice-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px;
}
.content-wrap.notice .notice-list ul {
  flex: 50%;
}
.content-wrap.notice .notice-list ul:first-child {
  margin-right: 50px;
}
.content-wrap.notice .notice-list ul li {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.content-wrap.notice .notice-list ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.content-wrap.notice .notice-list ul li a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.content-wrap.notice .notice-list ul li a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  margin-right: 13px;
  font-size: 14px;
  color: #fff;
  background-color: #00a561;
}
.content-wrap.notice .notice-list ul li a span.alert {
  background-color: #e82f68;
}
.content-wrap.notice .notice-list ul li a span.alert img {
  width: 70%;
}
.content-wrap.notice .event-list {
  width: 100%;
}
.content-wrap.notice .event-list ul {
  display: flex;
  justify-content: space-between;
}
.content-wrap.notice .event-list ul li {
  position: relative;
  width: 16.6666666667%;
  padding: 24px;
  min-height: 205px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-wrap.notice .event-list ul li:not(:first-child) {
  border-left: none;
}
.content-wrap.notice .event-list ul li > a {
  color: rgba(255, 255, 255, 0.7);
}
.content-wrap.notice .event-list ul li > a .day2 {
  display: none;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 65px;
}
.content-wrap.notice .event-list ul li > a .date {
  font-size: 68px;
  font-weight: 400;
  padding: 0 0 20px;
}
.content-wrap.notice .event-list ul li > a p {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 3px 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.content-wrap.notice .event-list ul li .more-btn {
  display: none;
  position: absolute;
  right: 24px;
  top: 24px;
}
.content-wrap.notice .event-list ul li .more-btn a {
  position: relative;
  display: inline-block;
  padding: 0 21px 8px 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #fff;
  letter-spacing: -1px;
}
.content-wrap.notice .event-list ul li .more-btn a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  right: -1px;
  width: 13px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
}
.content-wrap.notice .event-list ul li.on {
  padding: 24px 24px 21px;
  background-color: #e82f68;
}
.content-wrap.notice .event-list ul li.on > a .day {
  display: none;
}
.content-wrap.notice .event-list ul li.on > a .day2 {
  display: block;
}
.content-wrap.notice .event-list ul li.on > a .date {
  font-size: 30px;
  color: #fff;
}
.content-wrap.notice .event-list ul li.on > a p {
  height: 40px;
  -webkit-line-clamp: 2;
  white-space: unset;
}
.content-wrap.notice .event-list ul li.on .more-btn {
  display: block;
  color: #fff;
}
.content-wrap.press .inner-wrap {
  width: 100%;
  padding: 0 0 70px;
  background-color: #efefef;
}
.content-wrap.press .inner {
  z-index: 30;
  height: 449px;
  min-height: 449px;
  margin: -100px auto 0;
  box-sizing: content-box;
  flex-direction: row;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
.content-wrap.press .inner .img-wrap {
  width: 50%;
  height: 100%;
  background: url("../assets/img/notice-img.png") no-repeat center/cover;
}
.content-wrap.press .inner .text-wrap {
  width: 50%;
  padding: 30px 35px;
  background-color: #fff;
}
.content-wrap.press .inner .text-wrap .title-wrap {
  display: flex;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 5px 0;
}
.content-wrap.press .inner .text-wrap .title-wrap h4 {
  cursor: pointer;
  position: relative;
  padding-right: 26px;
  margin-right: 25px;
}
.content-wrap.press .inner .text-wrap .title-wrap h4.on {
  background: url("../assets/img/ico-mini-tab.png") no-repeat 0 50%;
  color: #e82f68;
  padding-left: 45px;
}
.content-wrap.press .inner .text-wrap .title-wrap h4:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
  width: 1px;
  height: 16px;
  background-color: #999;
}
.content-wrap.press .inner .text-wrap .text-box {
  display: none;
  position: relative;
  padding: 20px 0 0 25px;
}
.content-wrap.press .inner .text-wrap .text-box.on {
  display: block;
}
.content-wrap.press .inner .text-wrap .text-box .date {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}
.content-wrap.press .inner .text-wrap .text-box h2 {
  font-size: 35px;
  line-height: 43px;
  padding: 0 0 35px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
}
.content-wrap.press .inner .text-wrap .text-box ul {
  min-height: 105px;
}
.content-wrap.press .inner .text-wrap .text-box ul li {
  position: relative;
  padding: 0 0 7px 8px;
}
.content-wrap.press .inner .text-wrap .text-box ul li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #333;
}
.content-wrap.press .inner .text-wrap .text-box ul li a {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0 0 3px;
}
.content-wrap.press .inner .text-wrap .text-box ul li a p {
  width: calc(100% - 53px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.content-wrap.press .inner .text-wrap .text-box ul li a span {
  color: #7b7b7b;
}
.content-wrap.press .inner .text-wrap .text-box .more-btn {
  position: absolute;
  bottom: -65px;
  font-size: 16px;
  border-bottom: 1px solid #333;
  padding: 0 35px 8px 0;
}
.content-wrap.press .inner .text-wrap .text-box .more-btn::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  right: -1px;
  width: 15px;
  height: 1px;
  background: #333;
  transform: rotate(45deg);
}
.content-wrap.sns {
  background-color: #efefef;
  padding-bottom: 135px;
}
.content-wrap.sns .section-top .sns-list {
  display: flex;
  padding: 20px 0 0;
}
.content-wrap.sns .section-top .sns-list li {
  font-size: 20px;
  margin-right: 75px;
  font-weight: 500;
  padding: 5px 0;
}
.content-wrap.sns .section-top .sns-menu {
  display: flex;
  padding: 10px 0 0;
}
.content-wrap.sns .section-top .sns-menu li:not(:last-child) {
  margin-right: 11px;
}
.content-wrap.sns .section-top .sns-menu li:nth-child(1):hover > a > img {
  content: url("../assets/img/sns-icon-1-on.png");
}
.content-wrap.sns .section-top .sns-menu li:nth-child(2):hover > a > img {
  content: url("../assets/img/sns-icon-2-on.png");
}
.content-wrap.sns .section-top .sns-menu li:nth-child(3):hover > a > img {
  content: url("../assets/img/sns-icon-3-on.png");
}
.content-wrap.sns .section-top .sns-menu li:nth-child(4):hover > a > img {
  content: url("../assets/img/sns-icon-4-on.png");
}
.content-wrap.sns .section-top .sns-menu li:nth-child(5):hover > a > img {
  content: url("../assets/img/sns-icon-5-on.png");
}
.content-wrap.sns .section-bottom {
  width: 100%;
  display: flex;
}
.content-wrap.sns .section-bottom article {
  width: 30%;
  margin: 0 65px 0 0;
  transition: 0.3s;
}
.content-wrap.sns .section-bottom article.on {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 10px;
}
.content-wrap.sns .section-bottom article .img-wrap {
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.content-wrap.sns .section-bottom article .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content-wrap.sns .section-bottom article .text-wrap {
  padding: 25px 25px 0;
  min-height: 252px;
  background-color: #fff;
}
.content-wrap.sns .section-bottom article .text-wrap h3 {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 15px;
  overflow: hidden;
}
.content-wrap.sns .section-bottom article .text-wrap h3 .title-wrap {
  height: 50px;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 10px;
}
.content-wrap.sns .section-bottom article .text-wrap h3 .title-wrap p {
  color: #365899;
  font-weight: 500;
  padding: 0 0 14px;
}
.content-wrap.sns .section-bottom article .text-wrap h3 .title-wrap span {
  font-size: 13px;
  color: #7b7b7b;
}
.content-wrap.sns .section-bottom article .text-wrap > p {
  height: 92px;
  color: #5c5c5c;
  line-height: 23px;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 20px;
}
.content-wrap.sns .section-bottom article .text-wrap a {
  width: 100%;
  display: inline-block;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  padding: 17px 0;
  color: #666;
}
.content-wrap.short-cut .short-cut-box.on {
  padding: 12px 45px;
}
.content-wrap.short-cut .short-cut-box.on h3 {
  margin-top: 15px;
}
.content-wrap.short-cut .short-cut-box.on ul {
  height: 88px;
}
.content-wrap.short-cut .short-cut-box.on ul li a {
  padding: 30px 10px;
}
.content-wrap.short-cut .short-cut-box.on .btn-quick-close {
  background: url("../assets/img/btn-short-close.png") no-repeat center;
  background-color: #0f5237;
}
.content-wrap.short-cut .short-cut-box {
  max-width: 1300px;
  padding: 20px 45px;
  background-color: #0a603c;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  margin: -60px 0 0;
  display: flex;
}
.content-wrap.short-cut .short-cut-box h3 {
  width: 15%;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 60px 0 0;
  margin-top: 30px;
}
.content-wrap.short-cut .short-cut-box ul {
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.content-wrap.short-cut .short-cut-box ul li {
  padding: 0 40px 0 0;
}
.content-wrap.short-cut .short-cut-box ul li a {
  position: relative;
  display: inline-block;
  padding: 15px 10px;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.content-wrap.short-cut .short-cut-box ul li a::before {
  display: none;
  content: "";
  position: absolute;
  top: -3px;
  right: -5px;
  width: 21px;
  height: 18px;
  background: url("../assets/img/gnb-pop-icon.png") no-repeat center center;
}
.content-wrap.short-cut .short-cut-box ul li a:hover::before {
  display: block;
}
.content-wrap.short-cut .short-cut-box .btn-quick-close {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../assets/img/btn-short-open.png") no-repeat center;
  background-color: #0f5237;
  padding: 17px 45px;
  cursor: pointer;
}
.content-wrap.banner {
  padding: 75px 0;
}
.content-wrap.banner .section-top .title-wrap .main-title {
  font-size: 30px;
  line-height: 38px;
}
.content-wrap.banner .section-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-wrap.banner .section-bottom article {
  width: calc(25% - 25px);
  cursor: pointer;
  text-align: center;
}
.content-wrap.banner .section-bottom article:not(:last-child) {
  margin-right: 33px;
}
.content-wrap.banner .section-bottom article img {
  width: 100%;
  height: 175px;
  margin-bottom: 15px;
}
.content-wrap.banner .section-bottom article span {
  display: inline-block;
  font-size: 13px;
  color: #999;
  padding: 0 0 8px;
}
.content-wrap.banner .section-bottom article p {
  font-size: 17px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 5px;
}/*# sourceMappingURL=style.css.map */